ul#nav,ul#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul#nav {
	width: 184px;
    height: 100px;
}

ul#nav li {
	position: relative;
	float: left;
	width: 184px;
    height: 100px;
	border-right:1px solid silver;
    background: url("../../Content/img/footer_map.gif") no-repeat scroll left top transparent;
	color:#fff;
	text-align:left;
}
ul#nav li a {
	text-decoration: none;
	color:#b00;
}
#nav li ul {
	position: absolute;
	left: 0; 
	top:-205px;
	margin-left:-999em;
	border:none;
	height:305px;
	width:183px;
	background:#000;
	border-right:1px solid silver;
 /*opacity for IE5+*/
  filter: alpha(opacity=70);
  /*opacity for older Mozilla browsers*/
  -moz-opacity: 0.7;
  /*opacity for mozilla/safari*/
  opacity: 0.7;
}
#nav li ul li{
    background:#000;
	width:183px;
}
ul#nav li li{height:auto;border:none;}
ul#nav li li a{
	color:#fff;
	padding:5px 10px 5px 20px;
	display:block;
}
ul#nav li:hover ul, 
ul#nav li.over ul {
	margin-left:0;
}
ul#nav li:hover,
ul#nav li.over,
ul#nav li:hover a,
ul#nav li.over a {color:#000}

ul#nav li:hover li a,ul#nav li.over li a{color:#fff;}
ul#nav li li a:hover{color:red;}
ul#nav li p {padding:5px;}
ul#nav li.last,ul#nav li.last ul{border:none;width:184px;}